/* Scss Document */
/* reset scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input {
  outline: none; }

/* radius */
/*///////////////////////////////////
  Checkbox and Radio CSS
///////////////////////////////////*/
input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label span {
  background: url(../images/bg_checkbox.png) no-repeat left top;
  display: inline-block;
  width: 14px;
  height: 14px;
  float: left;
  margin: 8px 5px 0 0;
  vertical-align: middle;
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url(../images/bg_checkbox.png) no-repeat left -14px; }

input[type="radio"] + label span {
  background: url(../images/bg_radio.png) no-repeat left top;
  display: inline-block;
  width: 14px;
  height: 14px;
  float: left;
  margin: 8px 5px 0 0;
  vertical-align: middle;
  cursor: pointer; }

input[type="radio"]:checked + label span {
  background: url(../images/bg_radio.png) no-repeat left -14px; }

/*///////////////////////////////////
  Start Main CSS
///////////////////////////////////*/
html,
body {
  height: 100%; }

body {
  background: #2BC83E;
  font-size: 12px;
  color: #2b2b2b; }

.header {
  padding-top: 15px; }

/* Logo */
.logo {
  padding-bottom: 15px;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase; }
  .logo a {
    color: #fff; }

/* Login */
.login {
  padding: 100px 50px 0 50px; }
  .login .logo {
    text-align: center; }
  .login h3 {
    padding-bottom: 15px;
    font-size: 14px; }
  .login p {
    padding-bottom: 15px;
    line-height: 21px; }
  .login .form {
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .login .input-row {
    padding-top: 15px;
    position: relative;
    z-index: 1; }
    .login .input-row label {
      display: block;
      font-size: 14px;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      transition: 0.2s;
      position: absolute;
      top: 29px; }
    .login .input-row.active label {
      top: 5px;
      font-size: 12px;
      color: #2BC83E; }
    .login .input-row .input {
      border: none;
      border-bottom: 1px solid #ebebeb;
      background: #fff;
      width: 100%;
      height: 40px;
      margin-bottom: 15px;
      font-size: 16px;
      color: #2b2b2b;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      transition: 0.2s; }
      .login .input-row .input:focus {
        border-bottom-color: #2BC83E;
        border-bottom-width: 2px; }
  .login .keep {
    display: block;
    padding: 10px 0 10px 0; }
    .login .keep span {
      float: left;
      margin: 0 5px 0 0; }
  .login .button {
    background: #2BC83E;
    border: none;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s; }
    .login .button:hover {
      background: #0aa91d; }

.main-container {
  background: #fff;
  height: 100%; }

/*////////////////////////////////////////////
  Fonts
////////////////////////////////////////////*/
.logo {
  font-family: 'proxima_novathin'; }

body {
  font-family: 'proxima_nova_rgregular'; }

.logo span,
.login h3 {
  font-family: 'proxima_novasemibold'; }

.abc {
  font-family: 'proxima_nova_rgbold'; }

/*# sourceMappingURL=style.css.map */
