/* Scss Document */
@import 'reset';
  
$primary-color: #2BC83E;
$primary-color-hover: #0aa91d;
$common-color: #2b2b2b;

/* radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}


/*///////////////////////////////////
  Checkbox and Radio CSS
///////////////////////////////////*/
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
	background:url(../images/bg_checkbox.png) no-repeat left top;
    display:inline-block;
    width:14px;
    height:14px;
	float:left;
	margin:8px 5px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/bg_checkbox.png) no-repeat left -14px;
}
input[type="radio"] + label span {
	background:url(../images/bg_radio.png) no-repeat left top;
    display:inline-block;
    width:14px;
    height:14px;
	float:left;
	margin:8px 5px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(../images/bg_radio.png) no-repeat left -14px;
}




/*///////////////////////////////////
  Start Main CSS
///////////////////////////////////*/
html,
body {
  height:100%;
}
body {
	background:$primary-color;
	font-size:12px;
	color:$common-color;
}

.header {
	padding-top:15px;
}
/* Logo */
.logo {
  padding-bottom:15px;
  font-size:30px;
  color: #fff;
  text-transform:uppercase;
  a {
	color: #fff;
  }
}

/* Login */
.login {
  padding:100px 50px 0 50px;
  
  .logo {
	  text-align:center;
  }
  h3 {
    padding-bottom:15px;
	font-size:14px; 
  }
  p {
    padding-bottom:15px;
	line-height:21px;
  }
  .form {
    background:#fff;
	padding:20px;
	@include border-radius(3px);
  }
  .input-row {
	padding-top:15px;
	position:relative;
	z-index:1;
	
	label {
	  display:block;
	  font-size:14px;
	  @include transition(0.2s); 
	  position:absolute;
	  top:29px; 
	}
	&.active {
	  label {
		top:5px; 
		font-size:12px;
		color:$primary-color;
	  }
	}
	.input {
	  border:none;
	  border-bottom:1px solid #ebebeb;
	  background:#fff;
	  width:100%;
	  height:40px;
	  margin-bottom:15px;
	  font-size:16px;
	  color:$common-color;
	  @include transition(0.2s);
	  &:focus {
		border-bottom-color:$primary-color;
		border-bottom-width:2px;
	  }
	}
  }
  .keep {
	display:block;
	padding:10px 0 10px 0;
	span {
	  float:left;
	  margin:0 5px 0 0;
	}
  }
  .button {
	background:$primary-color;
	border:none;
	width:100%;
	height:40px;
	margin-top:15px;
	font-size:14px;
	color:#fff;
	line-height:40px;
	text-transform:uppercase;
	@include border-radius(3px);
	@include transition(0.2s);
	
	&:hover {
	  background:$primary-color-hover;
	}
  }
  
}

.main-container {
	background:#fff;
	height:100%;
}


/*////////////////////////////////////////////
  Fonts
////////////////////////////////////////////*/
.logo {
  font-family: 'proxima_novathin';
}
body {
  font-family: 'proxima_nova_rgregular';
}
.logo span,
.login h3 {
  font-family: 'proxima_novasemibold';
}
.abc {
  font-family: 'proxima_nova_rgbold';
}
