
img {
	max-width:100%;
	height:auto;
}
::-webkit-input-placeholder {
  color:inherit;
}
::-moz-placeholder { /* Firefox 19+ */
  color:inherit;
}
:-ms-input-placeholder {
  color:inherit;
}
:-moz-placeholder { /* Firefox 18- */
  color:inherit;
}


/* Header */
.header-home {
	background:none;
	padding:22px 0 0 0;
	min-height:95px;
	position:static;
}
.logo {
	font-size:24px;
	color:#33CE53;
}
.logo span {
	font-weight:400;
}
/* Showcase */
.home-showcase {
	border-bottom:1px solid #E2E2E2;
}
.home-showcase .container {
	background:url(../images/bg_phone.png) no-repeat left top;
	min-height:466px;
}
.home-showcase h2 {
	padding-bottom:5px;
	font-size:28px;
	color:#000;
	font-weight:400;
}
.home-showcase .caption {
	float:right;
	padding-top:205px;
	text-align:center;
	font-size:16px;
	color:#585858;
	font-weight:400;
}
.home-showcase p {
	padding-bottom:19px;
}
.home-showcase .phone {
	display:block;
	font-size:32px;
	color:#52C168;
	font-weight:600;
}
.home-showcase .phone-btn {
	background:#52C168;
	display:inline-block;
	padding:0 15px;
	font-size:13px;
	color:#fff;
	line-height:35px;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
	display:none;
}
.home-showcase .phone-btn span {
	margin-right:3px;
	font-size:10px;
	color:#fff;
	line-height:35px;
}
.home-showcase .highlight-link {
	display:inline-block;
	margin-top:25px;
	font-size:18px;
	color:#33CE53;
}
.home-showcase .highlight-link span {
	display:block;
	position:relative;
	-webkit-animation: arrow 1.6s infinite;
       -moz-animation: arrow 1.6s infinite;
        -ms-animation: arrow 1.6s infinite;
         -o-animation: arrow 1.6s infinite;
            animation: arrow 1.6s infinite;
	-webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
			transform: rotate(90deg);
}
@keyframes arrow {
	0%   {top:0;}
	20%  {top:8px;}
	40%  {top:6px;}
	80%  {top:8px;}
	100% {top:0;}
}
@-webkit-keyframes arrow {
	0%   {top:0;}
	20%  {top:8px;}
	40%  {top:6px;}
	80%  {top:8px;}
	100% {top:0;}
}
.inner-showcase .container {
	background-size:455px auto;
	min-height:310px;
}
.inner-showcase .caption {
	padding-top:105px;
}

/* Find-search */
.find-search {
	padding:38px 0 15px 0;
	font-size:12px;
	color:#858585;
}
.find-search h3 {
	text-align:center;
	font-size:28px;
	color:#2B2B2B;
	font-weight:400;
	text-transform:uppercase;
}
.find-search p {
	text-align:right;
}
.find-search a {
	color:#858585;
}
.find-search a:hover {
	color:#33CE53;
}
.find-search span {
	color:#2B2B2B;
}
.find-search .highlight {
	color:#33CE53;
	text-transform:uppercase;
}
.find-search .form {
	padding-top:29px;
	padding-bottom:28px;
}
.find-search .input {
	background:#fff;
	border:1px solid #eee;
	width:100%;
	height:54px;
	padding:15px 15px 15px 45px;
	font-size:18px;
	color:#D3D3D3;
	font-weight:400;
	line-height:28px;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.find-search .input:focus {
	color:#2b2b2b;
}
.find-search .loc {
	font-size:14px;
	color:#33CE53;
}
.find-search .col-md-8 .icon-search_icon,
.find-search .col-md-4 .icon-map_marker {
	font-size:18px;
	color:#E5E5E5;
	position:absolute;
	left:30px;
	top:19px;
}
.find-search .col-md-4 .icon-map_marker {
	left:33px;
	color:#33CE53;
}
/* Main-services */
.main-services {
	padding:10px 0 50px 0;
}
.main-services .row {
	margin-right:-10px;
	margin-left:-10px;
}
.main-services .col-md-6,
.main-services .col-md-4 {
	padding-right:10px;
	padding-left:10px;
}
.main-services .imgb {
	width:100%;
	float:left;
	margin-bottom:10px;
	margin-top:10px;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.main-services .imgb img {
	width:100%;
	height:auto;
	-webkit-transition:0.5s all ease;
	   -moz-transition:0.5s all ease;
		-ms-transition:0.5s all ease;
		 -o-transition:0.5s all ease;
			transition:0.5s all ease;
}
.main-services .col-md-4 .imgb {
	height:230px;
}
.main-services .col-md-4 .imgb img {
	width:auto;
	height:100%;
}
.main-services .caption {
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	float:left;
	text-align:center;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
}
.main-services .caption > div {
	width:100%;
	height:100%;
	display:table;
}
.main-services h4 {
	font-size:36px;
	color:#fff;
	font-weight:600;
	line-height:36px;
	text-transform:uppercase;
	display:table-cell;
	vertical-align:middle;
	-webkit-transition:0.5s all ease;
	   -moz-transition:0.5s all ease;
		-ms-transition:0.5s all ease;
		 -o-transition:0.5s all ease;
			transition:0.5s all ease;
}
.main-services h4 a {
	color:#fff;
}
.main-services h4 span {
	display:block;
}
.main-services .overlay {
	background:rgba(51,206,83,0.9);
	width:100%;
	height:100%;
	float:left;
	padding:20px;
	font-size:12px;
	color:#fff;
	position:absolute;
	left:0;
	top:0;
	z-index:3;
	opacity:0;
	-webkit-transition:0.5s all ease;
	   -moz-transition:0.5s all ease;
		-ms-transition:0.5s all ease;
		 -o-transition:0.5s all ease;
			transition:0.5s all ease;
}
.main-services .col-md-4 .overlay {
	padding:15px;
}
.main-services h5 {
	padding-bottom:10px;
	font-size:14px;
	color:rgba(255,255,255,0.8);
	font-weight:600;
	line-height:normal;
}
.main-services ul {
	padding-bottom:20px;
}
.main-services li {
	line-height:20px;
}
.main-services li a {
	color:#fff;
}
.main-services li a:hover {
	color:rgba(255,255,255,0.8);
}
.main-services .imgb:hover .overlay {
	opacity:1;
}
.main-services .imgb:hover img {
	-webkit-transform:scale(1.07, 1.07);
	   -moz-transform:scale(1.07, 1.07);
		-ms-transform:scale(1.07, 1.07);
		 -o-transform:scale(1.07, 1.07);
			transform:scale(1.07, 1.07);
}
.main-services .imgb:hover h4 {
	opacity:0.2;
}
/* Testimonials */
.testimonials {
	background:#f8f8f8;
	padding:57px 0 60px 0;
	font-size:16px;
	color:#474747;
}
.testimonials h3 {
	padding-bottom:7px;
	text-align:center;
	font-size:28px;
	color:#2B2B2B;
	font-weight:400;
	text-transform:uppercase;
}
.testimonials h3 span {
	display:block;
	margin-top:28px;
	font-size:40px;
	color:#96E2A5;
}
.testimonials h4 {
	padding-top:18px;
	font-size:16px;
	color:#929292;
	font-weight:700;
}
.testimonials h4 span {
	display:block;
	margin-top:5px;
	font-size:14px;
	color:#b4b0b0;
	font-weight:400;
}
.testimonials p {
	text-align:center;
	line-height:28px;
}
.testimonials img {
	float:left;
	margin-right:15px;
	-webkit-border-radius:100%;
	   -moz-border-radius:100%;
		-ms-border-radius:100%;
		 -o-border-radius:100%;
			border-radius:100%;
}
.testimonials .user {
	padding-top:45px;
}


/* Home1 */
.home1 .home-showcase {
	min-height:350px;
}
.home1 .home-showcase .caption {
	padding-top:50px;
}
.home1 .home-showcase .form {
	padding-top:20px;
	min-height:100px;
}
.home1 .home-showcase .highlight-link{
	margin-top:15px;
}

/* Home2 */
.home2 .home-showcase .highlight-link{
	margin-left:-55px;
	margin-top:65px;
}

.img-ipd,
.img-iph {
	display:none;
}




@media (min-width: 1200px) {
.home .container {
	width:1000px;
}
}
@media (min-width: 1024px) {
.home .container {
	width:1000px;
}
}
@media only screen and ( min-width: 200px) and ( max-width: 768px ) {
.header-home {
	padding:0;
}
.logo {
	background:#fff;
	width:100%;
	min-height:95px;
	padding-top:40px;
	text-align:center;
	font-size:35px;
	position:fixed;
}
.home-showcase .col-md-7 {
	background:#fff;
	width:100%;
	padding-bottom:10px;
	position:fixed;
}
.home-showcase .highlight-link {
	display:none;
}
.home-showcase .phone {
	display:none;
}
.home-showcase .phone-btn {
	min-width:120px;
	text-align:center;
	display:inline-block;
}
/* main-services */
.main-services .overlay {
	display:none;
}
.main-services-mb .imgb.active .overlay {
	display:block;
}
.main-services-mb .imgb.active .overlay {
	opacity:1;
}
.main-services-mb .imgb.active img {
	-webkit-transform:scale(1.07, 1.07);
	   -moz-transform:scale(1.07, 1.07);
		-ms-transform:scale(1.07, 1.07);
		 -o-transform:scale(1.07, 1.07);
			transform:scale(1.07, 1.07);
}
.main-services-mb .imgb.active h4 {
	opacity:0.2;
}

.find-search,
.main-services {
	background:#fff;
	position:relative;
	z-index:999;
}

}
@media only screen and ( min-width: 768px) and ( max-width: 999px ) {
/* home-showcase */
.home-showcase .container {
	background-position:center 135px;
	min-height:600px;
	padding-bottom:20px;
}
.home-showcase .caption {
	padding-top:15px;
	float:none;
}
.home-showcase h2 {
	text-align:center;
}
.home-showcase .form {
	display:inline-block;
}
.home-showcase .pull-right {
	float:inherit !important;
}
.home-showcase .highlight-link {
	margin-top:0;
}
/* main-services */
.main-services h4 {
	font-size:22px;
	line-height:normal;
}
.main-services .overlay {
	display:none;
}
.main-services .imgb {
	height:340px;
}
.main-services .col-md-4 .imgb {
	height:315px;
}
.main-services .imgb img {
	width:auto;
	height:100%;
}
.img-dk,
.img-iphone {
	display:none;
}
.img-ipd {
	display:block;
}
}
@media only screen and ( min-width: 300px) and ( max-width: 767px ) {
/* header-home */
.header-home {
	min-height:85px;
}
.logo {
	width:100%;
	text-align:center;
	font-size:35px;
	position:fixed;
}
.home-showcase .col-md-7 {
	background:#fff;
	width:100%;
	position:fixed;
}
/* home-showcase */
.home-showcase .container {
	background-position:center 125px;
	background-size:400px auto;
	min-height:425px;
	padding-bottom:20px;
}
.home-showcase .caption {
	float:none;
	padding-top:0;
	font-size:15px;
}
.home-showcase .pull-right {
	float:inherit !important;
}
.home-showcase h2 {
	padding-top:15px;
	text-align:center;
	font-size:30px;
}
.home-showcase p {
	line-height:normal;
}
/* find-search */
.find-search h3 {
	padding-bottom:15px;
}
.find-search .form {
	padding-bottom:13px;
	display:none;
}
.find-search p {
	text-align:center;
	line-height:normal;
}
/* main-services */
.main-services .overlay {
	text-align:center;
}


.img-ipd {
	display:none;
}
}
@media only screen and ( min-width: 200px) and ( max-width: 419px ) {
#invitation .modal-dialog {
	width:280px;
	height:280px;
	left:50%;
	top:50%;
	margin:-140px 0 0 -140px;
	position:absolute;
}
}
@media only screen and ( min-width: 400px) and ( max-width: 767px ) {
.main-services .col-md-4 .imgb {
	height:auto;
}
.main-services .col-md-4 .imgb img {
	width:100%;
	height:auto;
}
}
@media only screen and ( min-width: 200px) and ( max-width: 485px ) {
.main-services .row:nth-child(1) .col-md-6:nth-child(1) .imgb {
	height:380px;
}
.main-services .row:nth-child(1) .col-md-6:nth-child(2) .imgb {
	height:325px;
}
.main-services .imgb {
	height:282px;
}
.main-services .col-md-4 .imgb {
	height:255px;
}
.main-services .imgb img {
	width:auto;
	height:100%;
}
}
@media only screen and ( min-width: 200px) and ( max-width: 370px ) {
.img-ipd,
.img-dk {
	display:none;
}
.img-iph {
	display:block;
	width:100% !important;
	height:auto !important;
}
}
@media only screen and ( min-width: 400px) and ( max-width: 440px ) {
.main-services .col-md-4 .imgb {
	height:232px !important;
}
}



/*////////////////////////////////////////////
  Fonts
////////////////////////////////////////////*/
.logo span {
	font-family: 'proxima_novathin';
}
.find-search input,
.home-showcase .input,
.home-showcase .button {
	font-family: 'proxima_nova_rgregular';
}
.logo {
	font-family: 'proxima_novasemibold';
}
 {
	font-family: 'proxima_nova_rgbold';
}
