/*  CSS definations for Good Service  */

/*-------------------------------------------------------------------------------------------*/
/* RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	outline:none;
}

/*-------------------------------------------------------------------------------------------*/
/* SETUP */
/*-------------------------------------------------------------------------------------------*/

/* Defaults */
h1, h2, h3, h4, h5, h6, strong {
	margin:0;
	padding:0;
	font-weight:normal;
}
i, em {
	font-style:italic;
}
.left {
	float:left;
}
.right {
	float:right;
}
.alignleft {
	text-align:left;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.clear {
	clear:both;
	line-height:1px;
	height:1px;
}
input,textarea {
	padding:0;
}
textarea {
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif; /* Body Font Family Will Come Here */
}
a {
	color:#2b2b2b;
	text-decoration:none;
}
a:hover {
	color:inherit;
	text-decoration:none;
}
a:focus {
	outline:none;
	color:inherit;
	text-decoration:none;
}
address {
	font-style:normal;
}
p {
	margin-bottom:0;
	padding-bottom:10px;
}

/* Common Tages */
.loading {
	background:rgba(255,255,255,0.9);
	width:100%;
	height:100%;
	float:left;
	position:fixed;
	left:0;
	top:0;
	z-index:2;
	display:none;
}
.loading i {
	width:30px;
	height:30px;
	float:left;
	margin:-15px 0 0 -15px;
	font-size:30px;
	color:#000;
	position:absolute;
	left:50%;
	top:50%;
	z-index:2;
}
img {
	max-width:100%;
	height:auto;
}
.check i {
	color:#b6c655;
}
.error {
	color:#aeaeae;
}
.error i {
	color:#ed3d31;
}

.panel {
	background:none;
	border:none;
	padding:0;
	margin:0;
	box-shadow:none;
	overflow:hidden;
}
.panel-heading {
	background:none !important;
	border:none !important;
	padding:0;
	margin:0;
	color:inherit;
}
.collapsing {
	height:auto;
}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-sey4uf');
	src:url('../fonts/icomoon.eot?#iefix-sey4uf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-sey4uf') format('woff'),
		url('../fonts/icomoon.ttf?-sey4uf') format('truetype'),
		url('../fonts/icomoon.svg?-sey4uf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right_arrow:before {
	content: "\e600";
}

.icon-phone_icon:before {
	content: "\e601";
}

.icon-down_arrow_2:before {
	content: "\e602";
}

.icon-up_arrow:before {
	content: "\e603";
}

.icon-down_arrow:before {
	content: "\e604";
}

.icon-map_marker:before {
	content: "\e605";
}

.icon-search_icon:before {
	content: "\e606";
}


.main-overlay {
	background:rgba(255,255,255,0.8);
	width:100%;
	height:100%;
	float:left;
	position:fixed;
	left:0;
	top:0;
	z-index:99;
	display:none;
}


/*-------------------------------------------------------------------------------------------*/
/* SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
body {
	background:#fff;
	font-family: 'proxima_nova_rgregular';
	font-size:12px;
	color:#2b2b2b;
	font-weight:400;
}
.box {
	width:340px;
	margin:0 auto;
}

/* Header */
.header {
	width:100%;
}
.logo {
	padding:15px 0 0 15px;
	font-size:24px;
	color:#3dcc59;
	font-weight:700;
	text-transform:uppercase;
}
.logo a {
	color:#3dcc59;
}
.logo span {
	font-weight:300;
}
/* Nav */
.nav {
	padding:22px 15px 0 0;
	font-size:12px;
	color:#2b2b2b;
	text-transform:uppercase;
}
.nav ul {
	float:right;
	margin:0;
}
.nav li {
	float:left;
	margin-left:30px;
}
.nav li a {
	color:#2b2b2b;
}

/*///////////////////////////////////
  Desktop Css
///////////////////////////////////*/
.main-container {
	background:#fff;
	height:100%;
	padding:50px 0 0 0;
}
.main-container > .container,
.main-container > .container > .row {
	height:100%;
}
/* Dk-Vendor-detail */
.dk-vendor-detail {
	padding-bottom:60px;
}
.dk-vendor-detail h2 {
	padding-bottom:15px;
	font-size:24px;
	font-weight:600;
}
.dk-vendor-detail h3 {
	padding-bottom:15px;
	font-size:16px;
	font-weight:600;
	line-height:normal;
}
.dk-vendor-detail h4 {
	padding-bottom:15px;
	font-size:18px;
}
/* Title */
.dk-vendor-detail .title {
	padding-bottom:10px;
}
.dk-vendor-detail .title a {
	border:1px solid #36c647;
	background:#36c647;
	display:inline-block;
	float:left;
	padding:0 15px;
	margin:0 10px 10px 0;
	font-size:14px;
	color:#fff;
	line-height:30px;
	text-transform:uppercase;
}
.dk-vendor-detail .title i {
	display:inline-block;
	margin-right:5px;
	font-size:16px;
	line-height:30px;
}
.dk-vendor-detail .title a:hover {
	background:#36c647;
	color:#fff;
}
.dk-vendor-detail .title p {
	line-height:16px;
	padding-bottom:0;
}
.dk-vendor-detail .title p span {
	display:block;
	padding-top:1px;
	color:#afbbc1;
	font-weight:600;
}
/* Map */
.dk-vendor-detail .map .imgb {
	border:1px solid #E0E0E0;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.dk-vendor-detail .map a {
	width:100%;
	float:left;
}
.dk-vendor-detail .map img {
	width:100%;
}
.dk-vendor-detail .overlay {
	background:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	float:left;
	text-align:center;
	font-size:16px;
	color:#fff;
	line-height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	display:none;
}
.dk-vendor-detail .overlay span {
	width:100%;
	height:100%;
	display:table;
}
.dk-vendor-detail .overlay span span {
	display:table-cell;
	vertical-align:middle;
}
.dk-vendor-detail .map .imgb:hover .overlay {
	display:block;
}
/* Info */
.dk-vendor-detail .info {
	padding-bottom:10px;
	color:#707070;
}
.dk-vendor-detail .info p {
	line-height:20px;
	padding-bottom:15px;
}
.dk-vendor-detail .info strong {
	display:block;
	color:#2b2b2b;
	font-weight:bold;
}
/* Price-list */
.price-list .panel-group {
	position:relative;
	margin-bottom:0;
}
.price-list .panel-group.active {
	height:inherit;
}
.price-list {
	padding-bottom:25px;
}
.price-list .panel-heading a {
	width:100%;
	float:left;
	padding:11px 0 0 0;
}
.price-list #accordion .panel-default:first-child a {
	padding:0;
}
.price-list .name {
	padding-bottom:5px;
	display:block;
	font-size:13px;
	color:#afbbc1;
	font-weight:600;
}
.price-list .panel-heading i {
	float:right;
	margin-right:6px;
	color:#afbbc1;
}
.price-list p {
	line-height:normal;
}
.price-list p strong {
	font-size:12px;
	font-weight:600;
}
.price-list .panel-collapse {
	border-bottom:1px solid #f1f1f1;
}
.price-list .panel-collapse .row:first-child {
	padding-top:14px;
}
.price-list .panel-heading,
.price-list .panel-collapse {
	width:100%;
	float:left;
}
.price-list .col-md-5 {
	width:46%;
}
.price-list .bg-line {
	border-bottom:1px solid #f1f1f1;
}
.price-list .col-md-1 {
	width:8%;
}
/* View-more */
.view-more {
	text-align:center;
	padding-bottom:10px;
	margin-left:-35px;
	position:absolute;
	left:50%;
	bottom:-40px;
}
.view-more a {
	font-size:14px;
	color:#36c647;
	font-weight:600;
}



/* Vendor-info */
.vendor-info {
	padding-bottom:25px;
}
.vendor-info .table {
	border:1px solid #ededed;
	position:relative;
	margin-bottom:0;
}
.vendor-info .table.active {
	height:inherit;
}
.vendor-info .table .row1 {
	border-top:1px solid #ededed;
	background:#ededed;
	width:100%;
	float:left;
	padding:11px 0 3px 0;
}
.vendor-info .table .row1:first-child {
	border-top:none;
}
.vendor-info p {
	line-height:24px;
}
.vendor-info .row1:nth-child(odd) {
	background:#fff;
}
.vendor-info .highlight {
	background:#e9e9e9;
	padding:3px 4px;
	margin:0 5px 5px 0;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.vendor-info .col-md-3 {
	font-weight:700;
}

/* Vendor-gallery */
.vendor-gallery {
	margin-bottom:25px;
}
.vendor-gallery ul {
	margin-right:-10px;
}
.vendor-gallery li {
	width:81px;
	height:81px;
	float:left;
	margin-right:5px;
	position:relative;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.vendor-gallery li img {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	bottom:0;
	z-index:2;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.vendor-gallery li.last {
	background:#e4e4e4;
	text-align:center;
	font-size:14px;
}
.vendor-gallery li.last a {
	display:block;
	line-height:82px;
}
.vendor-gallery li img:nth-child(2) {
	width:72px;
	height:72px;
	left:5px;
	bottom:15px;
	z-index:4;
}
.vendor-gallery li img:nth-child(3) {
	width:62px;
	height:62px;
	left:10px;
	bottom:30px;
	z-index:3;
}
.vendor-gallery li img:nth-child(4) {
	width:52px;
	height:52px;
	left:15px;
	bottom:45px;
	z-index:2;
}
.vendor-gallery li img:nth-child(5) {
	width:42px;
	height:42px;
	left:20px;
	bottom:60px;
	z-index:1;
}
.vendor-gallery li img:nth-child(1) {
	z-index:9;
}
.vendor-videos ul {
	padding-top:0;
}
.vendor-videos li {
	width:146px;
	height:85px;
	overflow:hidden;
}
.vendor-videos li img {
	border:none !important;
	width:100% !important;
	height:auto !important;
	position:static !important;
}
.vendor-videos .overlay {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:100%;
	float:left;
	position:absolute;
	left:0;
	top:0;
	display:block;
}
.vendor-videos .overlay img {
	width:auto !important;
	height:auto !important;
	position:relative !important;
	top:50%;
	margin-top:-20px;
}
.vendor-videos li.last a {
	line-height:85px;
}


/* Dk-slider-box */
.dk-slider-box {
	background:rgba(0,0,0,0.9);
	width:100%;
	height:100%;
	float:left;
	padding:20px;
	position:fixed;
	right:-100%;
	top:0;
	z-index:999;
}
.dk-slider-box.active {
	right:0;
}
.dk-slider1,
.dk-slider2 {
	width:100%;
	height:100%;
	float:left; 
	text-align:center;
}
.dk-slider1 .slides,
.dk-slider1 .slides li,
.dk-slider1 .flex-viewport,
.dk-slider2 .slides,
.dk-slider2 .slides li,
.dk-slider2 .flex-viewport {
	width:100%;
	height:100%;
	float:left;
}
.dk-slider1 .slides .imgb,
.dk-slider2 .slides .imgb {
	width:100%;
	height:100%;
	display:table;
}
.dk-slider1 .slides .imgb span,
.dk-slider2 .slides .imgb span {
	display:table-cell;
	vertical-align:middle;
}
.dk-slider1 .slides .imgb img,
.dk-slider2 .slides .imgb iframe {
	width:700px;
	height:auto;
}
.dk-slider2 .slides .imgb iframe {
	min-height:450px;
}
.dk-slider1 .slides li .caption,
.dk-slider2 .slides li .caption {
	display:none;
}
.dk-slider1 .flex-prev,
.dk-slider1 .flex-next,
.dk-slider2 .flex-prev,
.dk-slider2 .flex-next {
	background:url(../images/bg_slider_arrow.png) no-repeat left top;
	width:16px;
	height:44px;
	float:left;
	margin-top:-22px;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	z-index:9999;
}
.dk-slider1 .flex-prev,
.dk-slider2 .flex-prev {
	left:20px;
}
.dk-slider1 .flex-next,
.dk-slider2 .flex-next {
	background-position:right top;
	right:20px;
}
.dk-carousel1,
.dk-carousel2 {
	width:995px;
	float:left;
	margin-left:-497px;
	font-size:14px;
	color:#fff;
	position:absolute;
	left:50%;
	bottom:25px;
}
.dk-carousel1 span,
.dk-carousel2 span {
	display:inline-block;
	padding-bottom:10px;
}
.dk-carousel1 .flex-viewport,
.dk-carousel2 .flex-viewport {
	width:995px;
	height:0;
	margin:0 auto;
	transition:0.2s;
}
.dk-carousel1 li,
.dk-carousel2 li {
	width:100px;
	height:65px;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.dk-carousel1 li img,
.dk-carousel2 li img {
	width:100px;
	height:65px;
}
.dk-carousel1 .flex-direction-nav,
.dk-carousel2 .flex-direction-nav {
	display:none;
}
.dk-carousel1:hover .flex-viewport,
.dk-carousel2:hover .flex-viewport {
	height:65px;
}
.dk-slider-box .close-btn2 {
	display:inline-block;
	font-size:30px;
	color:#fff;
	position:absolute;
	right:10px;
	top:5px;
	z-index:9999;
}

/* Filter */
.filter {
	padding:0 0 0 45px;
}
.app-icon {
	padding-bottom:24px;
}
.filter .column {
	border:1px solid #d7d7d7;
	margin-bottom:20px;
}
.filter h3 {
	padding-bottom:13px;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}
.filter h4 {
	font-size:13px;
	color:#a0adb4;
	font-weight:600;
	line-height:40px;
}
.filter h4 a {
	display:block;
	padding:0 15px;
	color:#a0adb4;
	line-height:40px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.filter h4 span {
	float:right;
	margin-top:16px;
	font-size:6px;
	color:#a0adb4;
}
.filter h4 .pull-right {
	margin-right:5px;
}
.filter .pull-right {
	margin-left:2px;
}
.filter ul {
	border-top:1px solid #d7d7d7;
	padding:12px 15px 14px 15px;
}
.filter li a {
	display:block;
	color:#2b2b2b;
	line-height:30px;
}
.filter li a:hover {
	color:#36c647;
}
.filter li a.active {
	background:url(../images/ico_check.png) no-repeat right center;
	color:#36c647;
}
.filter li strong {
	color:#a0adb4;
	font-weight:600;
}
.filter input {
	float:left;
	display:none;
}
.filter label {
	display:block;
	line-height:35px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.filter label.disabled {
	color:#d8d8d8;
}
input[type="checkbox"] + label span {
	background:url(../images/bg_checkbox.png) no-repeat left top;
    display:inline-block;
    width:14px;
    height:14px;
	float:left;
	margin:8px 5px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/bg_checkbox.png) no-repeat left -14px;
}
input[type="radio"] + label span {
	background:url(../images/bg_radio.png) no-repeat left top;
    display:inline-block;
    width:14px;
    height:14px;
	float:left;
	margin:8px 5px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(../images/bg_radio.png) no-repeat left -14px;
}

/* Tab-nav */
.tab-nav {
	border-bottom:1px solid #d7d7d7;
	height:36px;
	margin-bottom:20px;
	font-size:12px;
	color:#a0adb4;
	font-weight:600;
	text-transform:uppercase;
	z-index:999;
	transition:0.2s;
}
.tab-nav li {
	float:left;
}
.tab-nav a {
	height:36px;
	padding:0 5px;
	margin-left:5px;
	display:inline-block;
	color:#a0adb4;
	line-height:34px;
}
.tab-nav a:hover,.tab-nav a.active {
	border-bottom:2px solid #36c647;
	color:#2b2b2b;
}




.top-padding {
	padding-top:165px;
}

/* Dk-search */
.dk-search {
	padding:55px 0;
}
.dk-search span {
	float:left;
	margin:0 9px 0 7px;
}
.dk-search .input-search {
	background:url(../images/bg_search.png) no-repeat left bottom;
	border-bottom:1px solid #979797;
	width:500px;
	float:left;
	margin-right:20px;
}
.dk-search .input-search-in {
	background:url(../images/bg_search.png) no-repeat right bottom;
	width:500px;
	float:left;
}
.dk-search .input-search span {
	margin-top:14px;
	font-size:17px;
	color:#e5e5e5;
}
.dk-search .input-search input {
	border:none;
	background:none;
	width:461px;
	float:left;
	padding:0 10px 2px 0;
	font-size:32px;
	color:#e5e5e5;
	font-weight:300;
	line-height:38px;
}
.dk-search .input-city {
	background:url(../images/bg_search.png) no-repeat left bottom;
	border-bottom:1px solid #979797;
	width:200px;
	float:left;
}
.dk-search .input-city-in {
	background:url(../images/bg_search.png) no-repeat right bottom;
	width:200px;
	float:left;
	padding-top:14px;
}
.dk-search .input-city span {
	margin-top:0;
	font-size:17px;
	color:#2b2b2b;
}
.dk-search .input-city input {
	border:none;
	background:none;
	width:165px;
	float:left;
	padding:0 10px 2px 0;
	font-size:14px;
	color:#2b2b2b;
	font-weight:400;
	line-height:24px;
}


/* Showcase */
.showcase {
	background:#1ac63e url(../images/bg_showcase_pattern.png) repeat;
	text-align:center;
	font-size:14px;
	color:#fff;
}
.showcase-box {
	background:url(../images/ico_phone.png) no-repeat 31% 55px;
	min-height:232px;
	padding-top:30px;
}
.showcase h3 {
	padding-bottom:25px;
	font-size:20px;
	color:#fff;
	font-weight:400;
}
.showcase .phone {
	padding-bottom:8px;
	display:inline-block;
	font-size:42px;
	color:#fff;
	font-weight:300;
	line-height:normal;
}
.showcase .or {
	opacity:0.5;
}
.showcase a.button,
a.book-new-btn {
	background:#11902a;
	min-width:250px;
	height:40px;
	margin-top:10px;
	display:inline-block;
	text-align:center;
	font-size:12px;
	color:#fff;
	line-height:40px;
	text-transform:uppercase;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
a.book-new-btn {
	margin-top:0;
	min-width:240px;
	float:right;
	height:32px;
	line-height:32px;
}
/* Showcase2 */
.showcase2 .showcase-box {
	min-height:130px;
}
.showcase2 h3 {
	padding-bottom:15px;
}
.showcase3 .showcase-box {
	background-position:31% 7px;
	min-height:60px;
	padding-top:19px;
}
.showcase3 .phone {
	font-weight:700;
}
.showcase3 .showcase-box {
	background-position:31% 7px;
	min-height:60px;
	padding-top:19px;
}
.showcase4 .showcase-box {
	background-position:12% 7px;
	min-height:60px;
	padding-top:11px;
}
.showcase4 .or {
	display:inline-block;
	padding:0 66px;
	float:left;
	line-height:40px;
}
.showcase4 a.button {
	margin:0;
	float:left;
}
.showcase4 .phone {
	float:left;
	margin-left:17%;
	font-size:35px;
	font-weight:700;
}
/* Form-box */
.form-box {
	padding-top:180px;
}
.form-box form {
	border:1px solid #d7d7d7;
	padding:15px;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.form-box h2 {
	padding-bottom:10px;
	font-size:18px;
	color:2b2b2b;
	font-weight:600;
	text-transform:uppercase;
}
.form-box label {
	margin-bottom:5px;
	display:block;
	color:#2b2b2b;
	font-weight:600;
	line-height:normal;
}
.form-box .input {
	border:1px solid #d7d7d7;
	width:100%;
	height:35px;
	margin-bottom:15px;
	padding:5px 10px;
	font-size:13px;
	color:#2b2b2b;
	line-height:normal;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.form-box .remember {
	margin-bottom:15px;
}
.form-box .checkbox {
	display:none;
}
.form-box input[type="checkbox"] + label span {
	margin:0 5px 0 0;
}
.form-box .button {
	border:1px solid #d7d7d7;
	background:#fff;
	padding:12px 15px 10px 15px;
	font-size:13px;
	color:#2b2b2b;
	font-weight:700;
	text-transform:uppercase;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.form-box .button:hover {
	border:1px solid #3dcc59;
	background:#3dcc59;
	color:#fff;
}
.form-box .pull-right {
	margin-top:12px;
}
.form-box .pull-right:hover {
	color:#3dcc59;
}

/* Heading */
.heading {
	padding-top:30px;
}
.heading h2 {
	padding-bottom:10px;
	font-size:18px;
	color:2b2b2b;
	font-weight:600;
	text-transform:uppercase;
}
/* Table-list */
.table-list {
	border:1px solid #d7d7d7;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.table-list .row {
	border-top:1px solid #d7d7d7;
}
.table-list .row > div {
	padding-bottom:10px;
	padding-top:10px;
	min-height:72px;
}
.table-list .row .col-md-2,
.table-list .row .col-md-1 {
	border-left:1px solid #d7d7d7;
}
.table-list .row .col-md-1 {
	text-align:center;
}
.table-list .row .col-md-1 a {
	display:inline-block;
	margin:5px;
	font-size:16px;
	color:#2b2b2b;
}
.table-list .row:first-child {
	background:#f7f7f7;
	border-top:none;
	font-size:13px;
	font-weight:600;
}
.table-list .row:first-child > div,
.table-list .add-row-txt > div {
	min-height:inherit;
}
.table-list .add-row-txt {
	font-size:14px;
	font-weight:600;
}
.table-list .form-row > div {
	min-height:90px;
}
.table-list p {
	line-height:18px;
	padding:0;
}
.table-list p strong {
	display:block;
	font-size:13px;
	font-weight:600;
}
.table-list p a {
	color:#3dcc59;
}
.table-list p a:hover {
	color:#2b2b2b;
}
.table-list .select {
	width:100%;
	padding:5px;
	margin-top:5px;
}
.table-list .input,
.table-list .textarea {
	border:1px solid #d7d7d7;
	width:100%;
	height:30px;
	margin-top:20px;
	padding:5px 10px;
	font-size:12px;
	color:#2b2b2b;
	line-height:normal;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.table-list .textarea {
	height:68px;
	margin-top:0;
}
.table-list .none {
	margin:0;
}
.table-list .phone {
	margin:10px 0 0 0;
}
.table-list .button,
.table-top-bar .button {
	border:1px solid #d7d7d7;
	background:#fff;
	width:100%;
	height:30px;
	margin-top:20px;
	padding:5px 10px;
	font-size:12px;
	color:#2b2b2b;
	line-height:normal;
	font-weight:600;
	text-transform:uppercase;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.table-list .button:hover,
.table-top-bar .button:hover  {
	border:1px solid #3dcc59;
	background:#3dcc59;
	color:#fff;
}
/* Table-top-bar */
.table-top-bar {
	border-bottom:1px solid #d7d7d7;
	padding-top:30px;
}
.table-top-bar .select {
	padding:5px;
	margin:0 2px;
}
.table-top-bar .button {
	display:inline-block;
	width:auto;
	margin:0;
	line-height:18px;
}
.table-top-bar .pull-right.button {
	border:1px solid #3dcc59;
}



/* images-section */
.images-section {
	padding-bottom:10px;
}

.images-section img {
	border:1px solid #d7d7d7;
	padding:3px;
	width:43px;
	height:43px;
	float:left;
	margin-left:5px;
}








.loading {
	position:absolute;
}
.rightcol .loading {
	width:50%;
	position:fixed;
	left:inherit;
	right:0;
	z-index:999;
}





/*////////////////////////////////////////////
  Fonts
////////////////////////////////////////////*/
{
	font-family: 'proxima_nova_rgbold_italic';
}
.filter h3, .dk-vendor-list .price p strong, .result-count strong, .dk-vendor-list .address-row a strong,.form-box .button,.showcase3 .phone,.showcase4 .phone {
	font-family: 'proxima_nova_rgbold';
}
.dk-search .input-city input {
	font-family: 'proxima_nova_rgregular';
}
.filter h4, .filter li strong, .dk-vendor-list h3, .dk-vendor-list h4, .form-box h2, .form-box label,.table-list .row:first-child,.table-list p strong,.table-list .button,.table-list .add-row-txt,.heading h2,.table-top-bar .button {
	font-family: 'proxima_novasemibold';
}
.dk-search .input-search input, .showcase .phone {
	font-family: 'proxima_novathin';
}



.dk-vendor-detail h3 {
	font-family: 'proxima_novasemibold';
}
.vendor-info .col-md-3,
.logo {
	font-family: 'proxima_nova_rgbold';
}
.logo span {
	font-family: 'proxima_novathin';
}