/*  CSS definations for Good Service  */

/*-------------------------------------------------------------------------------------------*/
/* RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	outline:none;
}

/*-------------------------------------------------------------------------------------------*/
/* SETUP */
/*-------------------------------------------------------------------------------------------*/

/* Defaults */
h1, h2, h3, h4, h5, h6, strong {
	margin:0;
	padding:0;
	font-weight:normal;
}
i, em {
	font-style:italic;
}
.left {
	float:left;
}
.right {
	float:right;
}
.alignleft {
	text-align:left;
}
.alignright {
	text-align:right;
}
.aligncenter {
	text-align:center;
}
.clear {
	clear:both;
	line-height:1px;
	height:1px;
}
input,textarea {
	padding:0;
}
textarea {
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif; /* Body Font Family Will Come Here */
}
a {
	color:#2b2b2b;
	text-decoration:none;
}
a:hover {
	color:inherit;
	text-decoration:none;
}
a:focus {
	outline:none;
	color:inherit;
	text-decoration:none;
}
address {
	font-style:normal;
}
p {
	margin-bottom:0;
	padding-bottom:10px;
}

/* Common Tages */
.loading {
	background:rgba(255,255,255,0.9);
	width:100%;
	height:100%;
	float:left;
	position:fixed;
	left:0;
	top:0;
	z-index:2;
	display:none;
}
.loading i {
	width:30px;
	height:30px;
	float:left;
	margin:-15px 0 0 -15px;
	font-size:30px;
	color:#000;
	position:absolute;
	left:50%;
	top:50%;
	z-index:2;
}
img {
	max-width:100%;
	height:auto;
}
.check i {
	color:#b6c655;
}
.error {
	color:#aeaeae;
}
.error i {
	color:#ed3d31;
}

.panel {
	background:none;
	border:none;
	padding:0;
	margin:0;
	box-shadow:none;
	overflow:hidden;
}
.panel-heading {
	background:none !important;
	border:none !important;
	padding:0;
	margin:0;
	color:inherit;
}
.collapsing {
	height:auto;
}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-sey4uf');
	src:url('../fonts/icomoon.eot?#iefix-sey4uf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-sey4uf') format('woff'),
		url('../fonts/icomoon.ttf?-sey4uf') format('truetype'),
		url('../fonts/icomoon.svg?-sey4uf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-right_arrow:before {
	content: "\e600";
}
.icon-phone_icon:before {
	content: "\e601";
}
.icon-down_arrow_2:before {
	content: "\e602";
}
.icon-up_arrow:before {
	content: "\e603";
}
.icon-down_arrow:before {
	content: "\e604";
}
.icon-map_marker:before {
	content: "\e605";
}
.icon-search_icon:before {
	content: "\e606";
}



/*-------------------------------------------------------------------------------------------*/
/* SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
body {
	background:#fff;
	font-family: 'proxima_nova_rgregular';
	font-size:12px;
	color:#2b2b2b;
	font-weight:400;
}
.box {
	width:340px;
	margin:0 auto;
}

/* Header */
.header {
	width:100%;
	min-height:52px;
	position:relative;
	z-index:999;
}
.header.active {
	border-bottom:1px solid #E2E2E2;
	background:#fff;
	position:fixed;
}
.logo {
	float:left;
	padding:15px 0 0 30px;
	font-size:24px;
	color:#3dcc59;
	font-weight:600;
	text-transform:uppercase;
}
.logo a {
	color:#3dcc59;
}
.logo span {
	font-weight:300;
}
/* Nav */
.nav {
	float:right;
	padding:11px 30px 0 0;
	font-size:12px;
	color:#2b2b2b;
}
.nav > ul {
	float:right;
	margin:0;
}
.nav > ul > li {
	float:left;
	margin-left:5px;
}
.nav > ul > li > a {
	border:1px solid transparent;
	border-bottom:none;
	display:block;
	color:#2b2b2b;
	padding:0 14px;
	line-height:32px;
	-webkit-border-radius:3px 3px 0 0;
	   -moz-border-radius:3px 3px 0 0;
		-ms-border-radius:3px 3px 0 0;
		 -o-border-radius:3px 3px 0 0;
			border-radius:3px 3px 0 0;
}
.nav > ul > li > a > span {
	display:inline-block;
	font-size:6px;
	margin-left:3px;
	position:relative;
	top:-1px;
}
.nav > ul > li:hover > a {
	border-color:#33CE53;
	background:#fff;
	color:#33CE53;
	box-shadow:rgba(0,0,0,0.3) 0px 1px 2px;
}
.nav > ul > li:hover > .sub-nav {
	display:block;
}
/* Sub-nav */
.sub-nav {
	border:1px solid #3DCB59;
	background:#fff;
	width:98%;
	padding:30px 30px 15px 30px;
	margin-left:-49%;
	box-shadow:rgba(0,0,0,0.3) 0px 1px 2px;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
		-ms-border-radius:3px;
		 -o-border-radius:3px;
			border-radius:3px;
	position:absolute;
	left:50%;
	top:44px;
	z-index:999;
	display:none;
}
.sub-nav .col {
	width:33.33333%;
	float:left;
}
.col-col {
	width:50%;
	float:left;
}
.sub-nav h3 {
	padding-bottom:15px;
	font-size:14px;
	color:#33CE53;
	font-weight:400;
}
.sub-nav h4 {
	padding-bottom:8px;
	font-size:12px;
	color:#2b2b2b;
	font-weight:700;
}
.sub-nav h4 a {
	color:#2b2b2b;
}
.sub-nav h4 a:hover {
	color:#33CE53;
}
.sub-nav ul {
	padding-bottom:15px;
}
.sub-nav li {
	line-height:20px;
}
.sub-nav li a {
	color:#2b2b2b;
}
.sub-nav li a:hover {
	color:#33CE53;
}


/* Showcase */
.showcase {
	background:url(../images/bg_showcase.png) repeat;
	margin-top:-52px;
}
.showcase-in {
	background:url(../images/img_phone_screen.png) no-repeat center bottom;
	min-height:390px;
	padding-top:180px;
}
.showcase .caption {
	float:right;
	text-align:center;
	font-size:18px;
	color:#000;
}
.showcase img {
	margin-bottom:40px;
}
.showcase h3 {
	padding-bottom:7px;
	font-size:28px;
	color:#000;
	line-height:34px;
	font-weight:400;
}

/* Main-container */
.main-container {
	border-top:1px solid #E2E2E2;
	padding-bottom:15px;
}
/* Find-search */
.find-search {
	padding:30px 0 25px 0;
	font-size:12px;
	color:#858585;
}
.find-search h3 {
	text-align:center;
	font-size:28px;
	color:#2B2B2B;
	font-weight:400;
	text-transform:uppercase;
}
.find-search p {
	text-align:center;
}
.find-search a {
	color:#858585;
}
.find-search a:hover {
	color:#33CE53;
}
.find-search span {
	color:#2B2B2B;
}
.find-search .highlight {
	color:#33CE53;
	text-transform:uppercase;
}
.find-search .form {
	padding-top:29px;
	padding-bottom:20px;
}
.find-search .input {
	background:#fff;
	border:1px solid #eee;
	width:100%;
	height:54px;
	padding:15px 15px 15px 45px;
	font-size:18px;
	color:#D3D3D3;
	font-weight:400;
	line-height:28px;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.find-search .input:focus {
	color:#2b2b2b;
}
.find-search .loc {
	font-size:14px;
	color:#33CE53;
}
.find-search .col-md-8 .icon-search_icon,
.find-search .col-md-4 .icon-map_marker {
	font-size:18px;
	color:#E5E5E5;
	position:absolute;
	left:30px;
	top:19px;
}
.find-search .col-md-4 .icon-map_marker {
	left:33px;
	color:#33CE53;
}
/* Result-count */
.result-count {
	background:url(../images/bg_result_count.png) repeat-x left 7px;
	font-size:12px;
	color:#267df7;
	font-weight:400;
	position:relative;
	z-index:1;
}
.result-count2 {
	margin-top:55px;
}
.result-count span {
	background:#fff;
	padding:0 25px 0 0;
	line-height:normal;
}
.result-count span strong{
	font-weight:700;
}
.result-count .line {
	background:url(../images/bg_result_count.png) repeat-x left 7px;
	width:50%;
	height:10px;
	float:left;
	text-indent:-9999px;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
}
/* Filter */
.filter {
	padding:30px 45px 0 0;
}
.filter-vendor {
	padding:0 0 0 45px;
}
.app-icon {
	padding-bottom:24px;
}
.filter .column {
	border:1px solid #d7d7d7;
	margin-bottom:20px;
}
.filter h3 {
	padding-bottom:13px;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}
.filter h4 {
	font-size:13px;
	color:#a0adb4;
	font-weight:600;
	line-height:40px;
}
.filter h4 a {
	display:block;
	padding:0 15px;
	color:#a0adb4;
	line-height:40px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.filter h4 span {
	float:right;
	margin-top:16px;
	font-size:6px;
	color:#a0adb4;
}
.filter h4 .pull-right {
	margin-right:5px;
}
.filter .pull-right {
	margin-left:2px;
}
.filter ul {
	border-top:1px solid #d7d7d7;
	padding:12px 15px 14px 15px;
}
.filter li a {
	display:block;
	color:#2b2b2b;
	line-height:30px;
}
.filter li a:hover {
	color:#36c647;
}
.filter li a.active {
	background:url(../images/ico_check.png) no-repeat right center;
	color:#36c647;
}
.filter li strong {
	color:#a0adb4;
	font-weight:600;
}
.filter input {
	float:left;
	display:none;
}
.filter label {
	display:block;
	line-height:35px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.filter label.disabled {
	color:#d8d8d8;
}
input[type="checkbox"] + label span {
	background:url(../images/bg_checkbox.png) no-repeat left top;
    display:inline-block;
    width:14px;
    height:14px;
	float:left;
	margin:8px 5px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/bg_checkbox.png) no-repeat left -14px;
}
input[type="radio"] + label span {
	background:url(../images/bg_radio.png) no-repeat left top;
    display:inline-block;
    width:14px;
    height:14px;
	float:left;
	margin:8px 5px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(../images/bg_radio.png) no-repeat left -14px;
}
/* Vendor */
.vendor h2 {
	padding-bottom:15px;
	font-size:24px;
	font-weight:600;
}
.vendor h3 {
	padding-bottom:15px;
	font-size:16px;
	font-weight:600;
	line-height:normal;
}
.vendor .phone-btn {
	border:1px solid #36c647;
	background:#36c647;
	display:inline-block;
	min-width:140px;
	float:left;
	padding:0 15px;
	margin-right:10px;
	text-align:center;
	font-size:12px;
	color:#fff;
	line-height:35px;
	text-transform:uppercase;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.vendor .phone-btn i {
	display:inline-block;
	margin-right:2px;
	font-size:12px;
	line-height:35px;
}
.vendor .phone-btn:hover {
	background:#fff;
	color:#36c647;
}
/* Title */
.vendor .title {
	padding-bottom:25px;
}
.vendor .title p {
	line-height:16px;
	padding-bottom:0;
}
.vendor .title p span {
	display:block;
	padding-top:1px;
	color:#afbbc1;
	font-weight:600;
}
/* txtb */
.vendor .txtb {
	padding-bottom:10px;
	color:#707070;
}
.vendor .txtb p {
	line-height:20px;
	padding-bottom:15px;
}
.vendor .txtb strong {
	display:block;
	color:#2b2b2b;
	font-weight:bold;
}
/* Section-link */
.section-link {
	border-bottom:1px solid #d7d7d7;
	background:#fff;
	height:36px;
	margin-bottom:20px;
	font-size:12px;
	color:#a0adb4;
	font-weight:600;
	text-transform:uppercase;
	z-index:999;
}
.section-link.active,
.filter-vendor .column.active {
	position:fixed;
	top:52px;
}
.section-link li {
	float:left;
}
.section-link a {
	height:36px;
	padding:0 5px;
	margin-left:5px;
	display:inline-block;
	color:#a0adb4;
	line-height:34px;
}
.section-link a:hover,
.section-link a.active {
	border-bottom:2px solid #36c647;
	color:#2b2b2b;
}
/* Photo */
.photo {
	margin-bottom:25px;
}
.photo ul {
	margin-right:-10px;
}
.photo li {
	width:82px;
	height:82px;
	float:left;
	margin-right:5px;
	position:relative;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.photo li img {
	width:100%;
	height:100%;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.photo li.last {
	background:#e4e4e4;
	text-align:center;
	font-size:14px;
}
.photo li.last a {
	display:block;
	line-height:82px;
}
/* Videos */
.videos li {
	width:147px;
	height:82px;
	overflow:hidden;
}
.videos li img {
	width:100%;
}
.videos .overlay {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:100%;
	float:left;
	position:absolute;
	left:0;
	top:0;
	display:block;
}
.videos .play {
	background:url(../images/ico_play.png) no-repeat left top;
	width:40px;
	height:40px;
	float:left;
	margin:-20px 0 0 -20px;
	text-indent:-9999px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:2;
}
/* Price */
.price {
	padding-bottom:25px;
}
.price .panel-group {
	margin-bottom:0;
}
.price .panel-group.active {
	height:inherit;
}
.price .panel-heading a {
	width:100%;
	float:left;
	padding:11px 0 0 0;
}
.price #accordion .panel-default:first-child a {
	padding:0;
}
.price .name {
	padding-bottom:5px;
	display:block;
	font-size:13px;
	color:#afbbc1;
	font-weight:600;
}
.price p {
	line-height:normal;
}
.price p strong {
	font-size:12px;
	font-weight:600;
}
.price .panel-collapse {
	border-bottom:1px solid #f1f1f1;
}
.price .panel-collapse .row:first-child {
	padding-top:14px;
}
.price .panel-heading,
.price .panel-collapse {
	width:100%;
	float:left;
}
.price .col-md-5 {
	width:46%;
	padding-right:0;
}
.price .bg-line {
	border-bottom:1px solid #f1f1f1;
}
.price .col-md-2 {
	width:5%;
}
.price .col-md-2 i {
	float:right;
	margin-right:-15px;
	color:#afbbc1;
}
/* Info */
.info {
	padding-bottom:25px;
}
.info .table {
	border:1px solid #ededed;
	position:relative;
	margin-bottom:0;
}
.info .table.active {
	height:inherit;
}
.info .table .row1 {
	border-top:1px solid #ededed;
	background:#ededed;
	width:100%;
	float:left;
	padding:11px 0 3px 0;
}
.info .table .row1:first-child {
	border-top:none;
}
.info p {
	line-height:24px;
}
.info .row1:nth-child(odd) {
	background:#fff;
}
.info .highlight {
	background:#e9e9e9;
	padding:3px 4px;
	margin:0 5px 5px 0;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.info .col-md-3 {
	font-weight:700;
}
/* Map */
.map {
	padding-bottom:25px;
}
.map .imgb {
	border:1px solid #E0E0E0;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.map img {
	width:100%;
	height:auto;
}
/* Slider-popup */
.slider-popup {
	background:rgba(0,0,0,0.9);
	width:100%;
	height:100%;
	float:left;
	padding:20px;
	position:fixed;
	right:-100%;
	top:0;
	z-index:999;
}
.slider-popup.active {
	right:0;
}
.slider-popup .close-btn2 {
	display:inline-block;
	font-size:30px;
	color:#fff;
	position:absolute;
	right:10px;
	top:5px;
	z-index:9999;
}
.slider {
	width:100%;
	height:100%;
	float:left; 
	text-align:center;
}
.slider .slides,
.slider .slides li,
.slider .flex-viewport {
	width:100%;
	height:100%;
	float:left;
}
.slider .slides .imgb {
	width:100%;
	height:100%;
	display:table;
}
.slider .slides .imgb span {
	display:table-cell;
	vertical-align:middle;
}
.slider .slides .imgb img,
.slider .slides .imgb iframe {
	width:700px;
	height:auto;
}
.slider .slides .imgb iframe {
	min-height:450px;
}
.slider .slides li .caption {
	display:none;
}
.slider-popup .flex-prev,
.slider-popup .flex-next {
	background:url(../images/bg_slider_arrow.png) no-repeat left top;
	width:16px;
	height:44px;
	float:left;
	margin-top:-22px;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	z-index:9999;
}
.slider-popup .flex-prev {
	left:20px;
}
.slider-popup .flex-next {
	background-position:right top;
	right:20px;
}
.carousel {
	width:995px;
	float:left;
	margin-left:-497px;
	font-size:14px;
	color:#fff;
	position:absolute;
	left:50%;
	bottom:25px;
}
.carousel span {
	display:inline-block;
	padding-bottom:10px;
}
.carousel .flex-viewport {
	width:995px;
	height:0;
	margin:0 auto;
	transition:0.2s;
}
.carousel li {
	width:100px;
	height:65px;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.carousel li img {
	width:100px;
	height:65px;
}
.carousel .flex-direction-nav {
	display:none;
}
.carousel:hover .flex-viewport {
	height:65px;
}

/* Vendor-list */
.vendor-list {
	padding-bottom:25px;
}
.vendor-list .row1 {
	border-bottom:1px solid #ccc;
	position:relative;
	padding:25px 0;
}
.vendor-list .row1 > a {
	display:block;
	width:100%;
	float:left;
	padding:29px 0 10px 0;
}
.vendor-list h3 {
	margin-bottom:9px;
	font-size:18px;
	color:#2b2b2b;
	font-weight:600;
	line-height:normal;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.vendor-list h3 a {
	color:#2b2b2b;
}
.vendor-list h3 a:hover {
	color:#3dcc59;
}
.vendor-list h3 address {
	font-size:12px;
	color:#afbbc1;
	font-weight:400;
}
.vendor-list .address-row {
	padding-bottom:13px;
}
.vendor-list .address-row address {
	display:block;
	margin-bottom:13px;
	color:#afbbc1;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.vendor-list .address-row a {
	color:#2b2b2b;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}
.vendor-list .address-row a strong {
	font-weight:700;
}
.vendor-list .more-prices {
	display:inline-block;
	float:right;
	margin-bottom:15px;
	color:#26b5f7;
}
.vendor-list .more-prices span {
	font-size:6px;
}
.vendor-list .more-prices:hover {
	color:#2b2b2b;
}
.vendor-list p {
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
	margin-bottom:13px;
	padding-bottom:0;
}
.vendor-list .price-row {
	background:#f7fdf8;
	line-height:normal;
}
.vendor-list .services-row {
	background:#f3f9ff;
}
.vendor-list .price-box {
	padding:0 25px 3px 25px;
}
.vendor-list h4 {
	font-size:12px;
	color:#2b2b2b;
	font-weight:600;
	text-transform:uppercase;
}
.vendor-list h4 a {
	padding:12px 25px;
	display:block;
	color:#2b2b2b;
}
.vendor-list h4 a strong {
	font-weight:600;
}
.vendor-list h4 a:hover,
.vendor-list h4 a.active {
	color:#3dcc59;
}
.vendor-list h4 a span {
	font-size:7px;
	float:right;
	margin-top:4px;
	display:none;
}
.vendor-list h4 a:hover {
	color:#3dcc59;
}
.vendor-list h4 a .icon-down_arrow {
	display:inline-block;
}
.vendor-list h4 a:hover {
	color:#3dcc59;
}
.vendor-list h4 a.active strong {
	display:none;
}
.vendor-list h4 a.active .icon-up_arrow {
	display:inline-block;
}
.vendor-list h4 a.active .icon-down_arrow {
	display:none;
}
.vendor-list h4 a.collapsed .icon-up_arrow {
	display:none;
}
.vendor-list h4 a.collapsed .icon-down_arrow {
	display:inline-block;
}
.vendor-list h4 a.collapsed {
	color:#2b2b2b;
}
.vendor-list h4 a.collapsed span {
	display:inline-block;
}
.vendor-list .price p strong {
	font-weight:700;
}
.vendor-list .services .pull-left {
	min-width:95px;
}
.vendor-list a.button {
	border:1px solid #979797;
	background:#fff;
	display:block;
	max-width:140px;
	float:right;
	padding:0 15px;
	margin-left:5px;
	text-align:center;
	font-size:12px;
	color:#979797;
	line-height:35px;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
		-ms-border-radius:2px;
		 -o-border-radius:2px;
			border-radius:2px;
}
.vendor-list a.button.phone {
	border:1px solid #3dcc59;
	background:#3dcc59;
	color:#fff;
	margin-bottom:21px;
}
.vendor-list a.button.phone span {
	font-size:9px;
	display:inline-block;
}
.vendor-list a.button:hover {
	border:1px solid #55ec73;
	background:#55ec73;
	color:#fff;
}





@media (min-width:768px) {
.container {
	width: 750px
}
}

@media (min-width:992px) {
.container {
	width: 950px
}
}

@media (min-width:1200px) {
.container {
	width: 950px
}
}

/*////////////////////////////////////////////
  Fonts
////////////////////////////////////////////*/
{
	font-family: 'proxima_nova_rgbold_italic';
}
.filter h3,
.vendor-list .price p strong,
.result-count strong,
.vendor-list .address-row a strong,
.form-box .button,.showcase3 .phone,
.showcase4 .phone {
	font-family: 'proxima_nova_rgbold';
}
.dk-search .input-city input {
	font-family: 'proxima_nova_rgregular';
}
.filter h4,
.filter li strong,
.vendor-list h3,
.vendor-list h4,
.form-box h2,
.form-box label,
.table-list .row:first-child,
.table-list p strong,
.table-list .button,
.table-list .add-row-txt,
.heading h2,
.table-top-bar .button {
	font-family: 'proxima_novasemibold';
}
.dk-search .input-search input, .showcase .phone {
	font-family: 'proxima_novathin';
}



.vendor-detail h3,
.logo {
	font-family: 'proxima_novasemibold';
}
.info .col-md-3,
.sub-nav h4 {
	font-family: 'proxima_nova_rgbold';
}
.logo span {
	font-family: 'proxima_novathin';
}